.IntroContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 600px;
	width: 100%;
}

.IntroContent {
	width: 40%;
}

.IntroHeader {
	display: flex;
	padding-bottom: 15px;
}

.Name {
	font-size: 50px;
	width: 70%;
    font-family: 'Work Sans', sans-serif;
    color: #282828;
}

.SocialIconContainer {
	display: flex;
	width: 30%;
	margin-right: 15px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-bottom: 13px;
}

.SocialIcon {
	color: #282828;
	text-decoration: none;
	padding-left: 20px;
	margin-bottom: 5px;
}

.IntroText {
	font-size: 16pt;
    font-family: 'Work Sans', sans-serif;
    color: #282828;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
}

.Link {
	color: #006eff;
	text-decoration: none;
}