.ProjectTableContainer {
	height: 100%;
	width: 100%;
	display: block;
}
.ProjectTable {
	display: flex;
	flex-wrap: wrap;
	width: 75%;
	margin-left: 15%;
	margin-right: 15%;
	max-width: 65%;
	justify-content: space-between;
}

.ProjectItem {
	width: 49%;
	margin-bottom: 30px;
	box-shadow: 0px 0px 30px -10px #d6d6d6;
}

.ProjectImageContainer {
	height: 70%;
	padding-top: 30px;
	padding-bottom: 30px;
}

.ProjectInfoContainer {
	height: 30%;
}

.ProjectTitle {
	font-size: 20px;
	font-weight: 500;
	width: 50%;
    font-family: 'Work Sans', sans-serif;
    color: #282828;
}

.ProjectDescription {
	font-size: 12pt;
    font-family: 'Work Sans', sans-serif;
    color: #282828;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
}

.ProjectLink {
	font-size: 12pt;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5;
    text-align: left;
    color: #006eff;
    font-weight: 300;
	text-decoration: none;
}

